body{
  background-color: #1a1e9b;
}

.themeText{
  text-align: center;
  background-color: #2399fd;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
  color: #fff;
  font-size: 40px;
}


.searchArea{
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.searchArea > input{
  width: 35%;
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
}
input {
  text-align: center;
}
input:focus{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important;
  outline: none;
}
.searchArea > button{
  background-color: rgb(46, 51, 58);
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 20px;
  margin-left: 10px;
}
button:hover {
  background-color: cadetblue;
  color: bisque;
  box-shadow: rgba(155, 160, 165, 0.3)2px 10px 24px !important;
}

.resultCard{
  display: flex;
  justify-content: center;
  text-align: center;
}
.resultCard > .card{
  width: 350px;
  height: 480px;
  background: #fff;
  margin: 20px 0 0 0;
  cursor: pointer;
}
.card > img{
  width: 200px;
}